@page
@model ElectronicJournalForTheInstitute.Pages.AboutProject
@{
    ViewData["Title"] = "Про проєкт";
    Layout = "_Layout"; 
}

<div class="text-center">
    <h1 class="display-4">Електронний журнал для інституту</h1>
    <p class="lead">Цей проєкт розроблено для зручного керування студентами, викладачами та їхніми оцінками.</p>
</div>